.flex-used{
    display: flex;
    gap: 10px;
}
.main-container{
    flex-direction: column;
    gap: 6px;
}
.navbar{
    background-color: lightgreen;
    justify-content: center;
    align-items: center;
    height: 120px;
    border-radius: 20px;
}
.logo{
    flex-direction: column;
}
.logo a > img{
    height: 70px;
}
input, .navbar button{
    height: 35px;
    border-radius: 10px;
}
.dropdown{
    z-index: 1;
}
.dropdown-options{
    display: none;
    position: absolute;
    background-image: linear-gradient(45deg, lightseagreen,lightpink,lightgray,lightgoldenrodyellow);
    border-radius: 15px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}
.dropdown:hover .dropdown-options{
    display: block;
}
.dropdown a{
    display: block;
    text-decoration: none;
    padding: 10px 20px;
}
a > img{
    height: 100px;
    width: 120px;
    border-radius: 8%;
}
a{
    text-decoration: none;
    font-size: 20px;
    margin: 5px;
    padding: 5px;
}
.cart{
    text-align: center;
    flex-direction: row;
    height: 50px;
    width: 100px;
}
.products-menu{
    background-color: gainsboro;
    flex-direction: row;
    border-radius: 20px;
    text-align: center;
    overflow-x: scroll;
}
.products-menu::-webkit-scrollbar{
    width: 0px;
}
.products-menu::-webkit-scrollbar-thumb{
    /* background-color: gainsboro; */
}
marquee a img{
    height: 450px;
    width: 500px;
}
.products-gallery{
    flex-direction: column;
    column-gap: 15px;
    align-items: center;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 10px;
}
.products{
    scroll-snap-align: center;
    min-width: 70%;
    /* overflow-x: scroll; */
    /* flex-wrap: nowrap; */
}
.products div{
    height: 100px;
    width: 250px;
    object-fit: cover;
    background-color: lightseagreen;
    border: 2px red solid;
    border-radius: 15px;
}

/* @media only screen and (max-width:767px){
    .navbar{
        background-color: lightcoral;
        justify-content: center;
        align-items: center;
        height: 120px;
        border-radius: 20px;
    }
    .logo a > img{
        height: 50px;
        width: 100px;
    }
    .dropdown, .become-seller, .Explore-more{
        display: none;
    }
    .products div{
        width: 400px;
        height: 200px;
        border: 3px solid red;
    }
    .products{
        overflow-x: scroll;
    }
} */