<!DOCTYPE html>
<html lang="en">
<head>
    <title>HomePage</title>
    <link rel="stylesheet" href="./Google-homepage.css">
</head>
<body>    
    <div id="main-container">
        <div class="links">
            <button><a href="https://accounts.google.com/signup/v2/createaccount?service=mail&continue=https%3A%2F%2Fmail.google.com%2Fmail%2Fe-11-2082c5ea148ecc9b63e8c0fbfeded-3ae17bdc80ad9303507e1022bf3d0177987b2f12&flowName=GlifWebSignIn&flowEntry=SignUp">Create Gmail Account</a></button>
            <button><a href="https://playstoreforpc.com/android-apps/applications/">android-apps</a></button>
        </div>
        <div class="sub-container1">
            <div class="heading-searchbar">
                <h1 id="heading">Google</h1>
                <input type="text">
            </div><br>
            <button><a href="https://www.google.com/" class="google-search">Google Search</a></button>
            <button><a href="https://www.google.com/search?q=nature+images" class="nature-pics">Nature Images</a></button>
        </div>
        <hr>
        <div class="sub-container2">
            <button><a href="https://about.google/?utm_source=google-IN&utm_medium=referral&utm_campaign=hp-footer&fg=1">About</a></button>
            <button><a href="https://ads.google.com/intl/en_in/home/?subid=ww-ww-et-g-awa-a-g_hpafoot1_1!o2&utm_source=google.com&utm_medium=referral&utm_campaign=google_hpafooter&fg=1">Google Ads</a></button>
            <button><a href="https://www.google.com/intl/en_in/business/">Business</a></button>
            <button><a href="https://www.google.com/search/howsearchworks/?fg=1">How Search Work</a></button>
            <button><a href="https://policies.google.com/privacy?hl=en-IN&fg=1">Privacy</a></button>
            <button><a href="https://policies.google.com/terms?hl=en-IN&fg=1">Terms</a></button>

           
        </div>
    </div>
</body>
</html>
