<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid+Flex</title>
    <link rel="stylesheet" href="./periodic-table.css">
</head>
<body>
    <div id="periodic-table">
        <div id="container1">
            <div class="box" id="box1"></div>
            <div class="box" id="box"></div>
        </div>        
        <div id="container2">
            <div id="sub-container1">
                <div class="box" id="box2"></div>
                <div class="box" id="box3"></div>
            </div>
            <div id="sub-container2">
                <div class="box" id="box5"></div>
                <div class="box" id="box"></div>
                <div class="box" id="box"></div>
                <div class="box" id="box"></div>
                <div class="box" id="box"></div>
                <div class="box" id="box"></div>
            </div>
        </div>
        <div id="container3">
            <div id="sub-container1">
                <div class="box" id="box2"></div>
                <div class="box" id="box3"></div>
            </div>
            <div id="sub-container2">
                <div class="box" id="box"></div>
                <div class="box" id="box5"></div>
                <div class="box" id="box5"></div>
                <div class="box" id="box"></div>
                <div class="box" id="box"></div>
                <div class="box" id="box"></div>
            </div>
        </div>
        <div id="container4">
            <div id="sub-container1">
                <div class="box" id="box2"></div>
                <div class="box" id="box3"></div>
            </div>
            <div id="sub-container2">
                <div class="box" id="box"></div>
                <div class="box" id="box"></div>
                <div class="box" id="box5"></div>
                <div class="box" id="box5"></div>
                <div class="box" id="box"></div>
                <div class="box" id="box"></div>
                <div class="box" id="box"></div>
                <div class="box" id="box"></div>
                <div class="box" id="box"></div>
                <div class="box" id="box"></div>
                <div class="box" id="box"></div>
                <div class="box" id="box"></div>
                <div class="box" id="box"></div>
                <div class="box" id="box"></div>
                <div class="box" id="box"></div>
            </div>
        </div>
        <div id="container5">
            <div id="sub-container1">
                <div class="box" id="box2"></div>
                <div class="box" id="box3"></div>
            </div>
            <div id="sub-container2">
                <div class="box" id="box"></div>
                <div class="box" id="box"></div>
                <div class="box" id="box"></div>
                <div class="box" id="box"></div>
                <div class="box" id="box5"></div>
                <div class="box" id="box5"></div>
                <div class="box" id="box"></div>
                <div class="box" id="box"></div>
                <div class="box" id="box"></div>
                <div class="box" id="box"></div>
                <div class="box" id="box"></div>
                <div class="box" id="box"></div>
                <div class="box" id="box"></div>
                <div class="box" id="box"></div>
                <div class="box" id="box"></div>
            </div>
        </div>
        <div id="container6">
            <div class="box" id="box2"></div>
            <div class="box" id="box3"></div>
            <div class="box" id="box4"></div>
            <div class="box" id="box"></div>
            <div class="box" id="box"></div>
            <div class="box" id="box"></div>
            <div class="box" id="box"></div>
            <div class="box" id="box"></div>
            <div class="box" id="box"></div>
            <div class="box" id="box"></div>
            <div class="box" id="box"></div>
            <div class="box" id="box"></div>
            <div class="box" id="box"></div>
            <div class="box" id="box"></div>
            <div class="box" id="box"></div>
            <div class="box" id="box"></div>
            <div class="box" id="box"></div>
            <div class="box" id="box"></div>
        </div>
        <div id="container7">
            <div class="box" id="box2"></div>
            <div class="box" id="box3"></div>
            <div class="box" id="box4"></div>
            <div class="box" id="box"></div>
            <div class="box" id="box"></div>
            <div class="box" id="box"></div>
            <div class="box" id="box"></div>
            <div class="box" id="box"></div>
            <div class="box" id="box"></div>
            <div class="box" id="box"></div>
            <div class="box" id="box"></div>
            <div class="box" id="box"></div>
            <div class="box" id="box"></div>
            <div class="box" id="box"></div>
            <div class="box" id="box"></div>
            <div class="box" id="box"></div>
            <div class="box" id="box"></div>
            <div class="box" id="box"></div>
        </div>
    </div>
</body>
</html>