body{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#periodic-table{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
#periodic-table div{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.box{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    background-color: blue;
}
