#h1tag{
    color: greenyellow;
    background-color: bisque;
}
#h3tag{
    color: aqua;
    background-color: antiquewhite;
    font-style: italic;
}
#ptag1{
    color: tomato;
    background-color: lightskyblue;
}
#ptag2{
    color: navy;
    background-color: navajowhite;
}